@import '../../sass/responsive.scss';
@import '../../sass/variables.scss';

.features {
    padding: 12em;
    position: relative;
    text-align: center;
    height: 100%;
    width: 100%;

    .text {
        text-align: center;
        padding: 0 15em;
        h1 {
            font-size: 4rem;
            font-weight: 600;
            margin-bottom: .2em;
            color: $text;
        }
        p {
            font-size: 1.5rem;
            font-weight: 450;
        }
    }

    .manage_ring {
        position: relative;
        height: 80vh;
        // padding: 20em;
        /* text-align: center; */
        display: flex;
        align-items: center;
        justify-content: center;

        .ring {
            border: 2px solid rgba(23, 163, 149, 0.5);
            border-radius: 50%;
        }

        .ring_img {
            position: absolute;
            display: inline-block;
            height: auto;
            width: 100%;
            max-width: 4em;
            cursor: pointer;

            img {
                display: inline;
                height: 100%;
                width: 100%;
                // border-radius: 50%;
                object-fit: cover;
            }

            h5 {
                position: absolute;
                background-color: $white;
                padding: 5px 20px;
                box-shadow: 0 10px 15px .20px rgba(0, 0, 0, .1);
                border-radius: 5px;
                color: $text;
                font-size: 1rem;
                top: 0;
                transition: .4s ease all;
                // opacity: 0;
                filter: blur(5px);
                transform:
                    translateY(0px) rotateY(30deg) rotateX(10deg) scale(.2)
            }

            &:hover {
                h5 {
                    opacity: 1;
                    filter: blur(0);
                }
            }
        }

        .ring_1 {
            position: absolute;
            padding: 5em;

            .ring_img.one {
                top: 34%;
                right: 93%;

                h5 {
                    right: -80%;
                    text-align: end;
                }

                &:hover {
                    h5 {
                        transform:
                            translateY(-50px) translateX(-40px) rotateY(-15deg) rotateX(10deg) scale(1);
                    }
                }
            }

            .ring_img.two {
                bottom: 0%;
                left: 65%;

                h5 {
                    right: -60%;
                    text-align: start;
                }

                &:hover {
                    h5 {
                        transform:
                            translateY(-60px) translateX(50px) rotateY(10deg) rotateX(10deg) scale(1);
                    }
                }
            }

            .ring_2 {
                padding: 5em;

                .ring_img.one {
                    top: 12%;
                    right: 60%;

                    h5 {
                        right: -70%;
                        text-align: end;
                    }

                    &:hover {
                        h5 {
                            transform:
                                translateY(-60px) translateX(-50px) rotateY(-15deg) rotateX(10deg) scale(1);
                        }
                    }
                }

                .ring_img.two {
                    bottom: 30%;
                    left: 79%;

                    h5 {
                        right: -30%;
                        text-align: start;
                    }

                    &:hover {
                        h5 {
                            transform:
                                translateY(-75px) translateX(40px) rotateY(10deg) rotateX(10deg) scale(1);
                        }
                    }
                }

                .ring_img.three {
                    bottom: 13%;
                    left: 30%;
                }

                .ring_3 {
                    padding: 5em;

                    .center_img {
                        position: relative;
                        display: inline-block;
                        height: auto;
                        width: 100%;
                        max-width: 7em;

                        img {
                            display: inline;
                            height: 100%;
                            width: 100%;
                            border-radius: 50%;
                            object-fit: cover;
                        }
                    }

                    .ring_img.one {
                        top: 30%;
                        right: 27%;
                    }

                    .ring_img.two {
                        bottom: 34%;
                        left: 26%;
                    }
                }
            }
        }
    }
}