@import '../../sass/variables.scss';
@import '../../sass/responsive.scss';

.content-wrapper {
	position: relative;
	.sidebar {
		height: 100%;
		// width: 4%;
		width: 4em;
		position: fixed;
		bottom: 0;
		left: 0;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-start;
		padding-top: 5em;
		background: $base;
		font-size: 1.2rem;
		font-weight: 600;
		letter-spacing: 1px;
		transition: all .2s ease-in-out;

		.nav {
			margin-top: 1em;
			position: relative;
			.nav-link {
				position: relative;
				// display: block;
				display: flex;
				align-items: center;
				justify-content: start;
				// height: 3em;
				width: 100%;
				padding: .6em 1em;
				margin: 0 0 .5em;
				text-decoration: none;
				color: $white-light;
				overflow: hidden;

				&:hover {
					background: hsla(0,0%,100%,.3);
					color: $white;
				}

				svg {
					text-align: center;
					transition: all .2s ease-in-out;
				}
				span {
					margin-left: 3em;
					white-space: nowrap;
					width: 0;
					display: none;
					opacity: 0;
					overflow: hidden;
				}
			}
			.nav-link.active {
				color: $white;
				span {
					text-decoration: underline;
				}
			}
		}

		footer {
			display: flex;
			justify-content: flex-end;
			align-items: center;
			background: $base-dark;
			color: $white-light;
			width: 100%;
			padding: 15px;
			img {
				position: relative;
				right: 0;
				height: 2.5em;
				margin-right: 10px;
				visibility: hidden;
				opacity: 0;
				transition: all 0.2s ease-in-out;
			}
			.user-details {
				display: flex;
				justify-content: space-between;
				align-items: center;
				color: $white-light;
				font-size: 1.2rem;
				font-weight: 600;
				cursor: pointer;
				&:hover {
					color: $white;
				}

				span {
					margin: 0 10px;
					visibility: hidden;
					opacity: 0;
					transition: visibility, opacity 0.2s ease-in-out;
				}
				svg {
					transition: visibility, opacity 0.2s ease-in-out;
				}
				
			}
		}

		&:hover {
			// width: 13%;
			width: 14em;
			transition: all 0.2s ease-in-out;
			.nav-link {
				svg {
					height: 24px;
					width: 24px;
				}
				span {
					position: absolute;
					display: inline-block;
					width: auto;
					// height: 100%;
					opacity: 1;
					transition: opacity 0.2s ease-in;
				}
			}
			footer {
				img {
					visibility: visible;
					opacity: 1;
				}
				span {
					visibility: visible;
					opacity: 1;
				}
			}

			// @media screen and (max-width: $laptop) {
			// 	width: 20%;
			// }
	
			// @media screen and (max-width: $tablet) {
			// 	width: 21%;
			// }
	
			// @media screen and (max-width: $mobile) {
			// 	width: 35%;
			// }
	
			// @media screen and (max-width: $mobile-s) {
			// 	width: 48%;
			// }
		}

		// @media screen and (max-width: $laptop) {
		// 	width: 6%;
		// }

		@media screen and (max-width: $tablet) {
			// width: 7%;
			// width: 0em;
			margin-left: -14em;
			transition: all 0.2s ease-in-out;
		}

		// @media screen and (max-width: $mobile) {
		// 	width: 12%;
		// }

		// @media screen and (max-width: $mobile-s) {
		// 	width: 15%;
		// }
	}


	.sidebar.show {
		// width: 13%;
		display: flex;
		width: 14em;
		margin-left: 0;
		transition: all 0.2s ease-in-out;
		.nav-link {
			span {
				// transform: translate(0px, 5px);
				position: absolute;
				display: inline-block;
				width: auto;
				opacity: 1;
				transition: opacity 0.2s ease-in;
			}
		}
		footer {
			img {
				visibility: visible;
				opacity: 1;
			}
			span {
				visibility: visible;
				opacity: 1;
			}
		}

		// @media screen and (max-width: $laptop) {
		// 	width: 20%;
		// }

		// @media screen and (max-width: $tablet) {
		// 	width: 21%;
		// }

		// @media screen and (max-width: $mobile) {
		// 	width: 35%;
		// }

		// @media screen and (max-width: $mobile-s) {
		// 	width: 48%;
		// }
	}

	@media screen and (max-width: $tablet) {
		position: absolute;
	}
}


.sidebar-intersect {
    position: absolute;
    background: url("/img/pcm_sidebar_intersect.svg") left top no-repeat;
    background-size: cover;
    background-color: transparent;
    width: 50px;
    height: 50px;
    left: 92%;
    top: -3.76%;
    z-index: 0;
}