@import './variables.scss';

html {
	position: relative;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
	top: 0;
	left: 0;
	background-color: $body!important;
	font-family: 'Poppins';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.b {
	border: 1px solid $red;
}

a {
  text-decoration: none;
}

a.underline:hover {
  text-decoration: underline;
}


//////////////////////////////////////////////////////////////////////////////////

.public_pages {
  margin-top: 54px;
}
