$body: #e2e2e2;
$text: #415860;
$base-light: #29dabb;
$base: #17a395;
$base-dark: #028a7c;

//form variables
//$input: #999;
$input: #bebebe;
$input-error: #d80f0f;
$input-ok: #198754;
$ad: #dc3545;

//modal
$model-success: #07bc0c;
$model-error: #e74c3c;

$white: #fff;
$white-light: #ffffffb3;
$red: #ff0000;

